/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;

}

/* HERO SECTION */
.hero {
  width: 100%;
  height: 90vh;
  background: url("https://i.ibb.co.com/cX2z36XB/cover-1.jpg") no-repeat center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}


.hero-btn {
  display: inline-block;
  padding: 12px 32px;
  background: #f97316; /* orange */
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 12px;
  font-weight: 600;
  transition: 0.3s;
}

.hero-btn:hover {
  background: #fb923c; /* lighter orange */
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero-content h2 {
    font-size: 32px;
  }
  .hero-content p {
    font-size: 16px;
  }
}
